$backgroundColor: #202428;
$foregroundColor: #f2f2fa;
$intermediateColor: #7e8d95;
$animPlayerColor: #5c687c;

$iconsColor: #383f44;

$linkColor: #690d20;
$linkHoverColor: #aa1333;

$iconSize: 1.5rem;
$portraitSize: 15rem;

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oxygen-regular - latin */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxygen Regular'), local('Oxygen-Regular'),
    url('/fonts/oxygen-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/oxygen-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    background: $backgroundColor;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: $backgroundColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
}

a {
    font-weight: bold;
    color: $linkColor;
    text-decoration: none;
    &:hover { color: $linkHoverColor; }
}

ul {
    list-style-type: none;
}
li {
    margin-bottom: 0.2rem;
    &:before { content: '– '; }
}

// Animation placeholder
#back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.c {
    background-color: $foregroundColor;
    min-height: 100%;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

.vc {
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vc-space-above {
    flex-grow: 0.5;
}
.vc-space-below {
    flex-grow: 2;
}

.icons {
    text-align: center;

    a {
        display: inline-block;
        padding: $iconSize / 6;

        &, svg {
            width: $iconSize;
            height: $iconSize;
        }

        &:not(:hover) path {
            fill: $iconsColor;
        }
    }
}

.portrait {
    &, img, source {
        border-radius: $portraitSize;
        margin: auto;
        width: $portraitSize;
        height: $portraitSize;
    }
}

.aka {
    display: block;
    font-size: 80%;
}

#roles {
    font-size: 1.4rem;
    height: 1.4rem;
    text-align: center;
    color: $linkColor;
    margin-bottom: 1.5rem;
}

.pagination { position: relative; text-align: center; }
.prev { position: absolute; left: 0; }
.next { position: absolute; right: 0; }

.anim {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;

    background-color: white;
}

.animPlayer {
    position: sticky;
    bottom: 0;

    background-color: $animPlayerColor;
    color: $foregroundColor;

    margin: 5rem -3rem 0 -3rem;
    padding: 0.5rem;

    text-align: center;

    a {
        color: white;
    }
}

.footer {
    font-size: 80%;
    text-align: center;

    padding-top: 10px;
    margin-bottom: -2rem;
}

.top {
    position: fixed;
    bottom: 60px;
    right: 30px;

    width: 40px;
    height: 40px;

    font-size: 30px;

    text-align: center;

    background: $animPlayerColor;
    color: $foregroundColor;
    border-radius: 20px;
}

@media (min-width: 1000px) {
    .c {
        position: absolute;
        right: 100px;
        width: 400px;

        padding: 3rem;
    }
}
@media (min-width: 500px) and (max-width: 1000px) {
    .c {
        position: absolute;
        right: 50px;
        left: 50px;

        padding: 3rem;
    }
}
@media (max-width: 500px) {
    .c {
        position: absolute;
        right: 20px;
        left: 20px;
        min-width: 280px;

        padding: 20px;
    }
}