{{ define "main" }}
<div>
    <div class="pagination">
        {{ if .NextPage }}<span class="prev"><a href="{{ .NextPage.RelPermalink }}">< {{ i18n "previous" . }}</a></span>{{ end }}
        <a href="{{.Site.BaseURL}}{{.Section}}">{{ i18n "allAnimations" . }}</a></span>
        -
        <a href="{{.Site.BaseURL}}">{{ i18n "home" . }}</a>
        {{ if .PrevPage }}<span class="next"><a href="{{ .PrevPage.RelPermalink }}">{{ i18n "next" . }} ></a></span>{{ end }}
    </div>

    <h1>{{ .Title }}</h1>
    <h2>{{ .Description }}</h2>
    {{ $path := printf "%s/%s/%s" "anims" .Slug "index.js" }}
    {{ $style := resources.Get $path | resources.ExecuteAsTemplate $path . | resources.Minify }}
    {{ substr $style.Permalink 0 0 }}

    {{ .Content }}
    <script>window.anim = "{{ .Slug }}";</script>
</div>
{{ end }}
